name: Microservices Deployment

on:
  push:
    branches: [ master ]

jobs:
  # api-gateway
  deploy-service-one:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Service One
        run: cd api-gateway && mvn clean install -DskipTests
      - name: Deploy Service One to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'madhu-java-app' # Unique Azure App Name
          publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE  }}

  # service-one
  deploy-service-two:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Service Two
        run: cd service-one && mvn clean install -DskipTests
      - name: Deploy Service Two to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'madhu-java-app' # Unique Azure App Name
          publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE  }}

  # service-two
  deploy-service-three:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Service Three
        run: cd service-three && mvn clean install -DskipTests
      - name: Deploy Service Three to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'service-two' # Unique Azure App Name
          publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE  }}
