name: Microservices Deployment

on:
  push:
    branches: [ master ] # Triggers on push to master branch


jobs:
  # 1. API SERVICE (Java Maven)
  deploy-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}    
      
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build API
        run: cd api-gateway && mvn clean install

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'madhu-java-app' # CHANGE to your Azure App Name
          publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE }}


